@tailwind base;
@tailwind components;
@tailwind utilities;


/* Colors Used 
   #1A120B  - Dark
   #D5CEA3  - Light
   #E5E5CB  - Lightest
*/

body{
    background: #1A120B;
    color: #E5E5CB;
}

.cards{
    color:#D5CEA3;
    background-color: rgb(65, 60, 60);
}